body {
  margin: 0;
  color: #ffffff;
  font-family: Helvetica;
}

a {
  text-decoration: none;
}

.colorBlue {
  background-color: #1e8cbe;
}

.colorMaroon {
  background-color: #560003;
}

.colorMidBlue {
  background-color: #0070a4;
}

.colorDarkBlue {
  background-color: #344151;
}

.colorGray {
  background-color: #909dab;
}

.colorDarkGray {
  background-color: #7f8c8d;
}

.colorBlack {
  background-color: #111111;
}

.colorWhite {
  background-color: #ffffff;
}

.colorLightBlue {
  background-color: #e8f0f5;
}

.colorImgBackground {
  background-color: #c7d2d8;
}

.topHeader {
  display: flex;
}

.topHeaderLogoConatiner {
  display: flex;
  align-items: center;
  flex: 4;
  flex-direction: row;
  padding: 1rem 0rem 1rem 0rem;
}

.loginContainer {
  flex: 1;
  font-size: 0.8rem;
  display: flex;
  padding: 0rem 0rem 0rem 0rem;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 0rem 1rem 0rem 1rem;
}

.imgLogo {
  height: 1rem;
}

.companyName {
  font-size: 1rem;
}

.topContainer {
  background-size: cover;
  background-image: url("./images/crowd.jpg");
}

.topContainerTop {
  font-size: 1.6rem;
  padding: 7rem 2rem 0rem 2rem;
  text-align: center;
}

.topContainerMiddle {
  font-size: 0.8rem;
  margin: 2rem 5rem 0rem 5rem;
  text-align: center;
}

.websiteButton {
  text-align: center;
  border: 0.6rem solid rgba(0, 0, 0, 0.7);
  padding: 0.7rem 0rem;
  margin: 1.5rem 6.5rem 0rem 6.5rem;
}

.topContainerArrow {
  font-size: 1rem;
  text-align: center;
  margin: 12rem 0rem 9rem 0rem;
}

.topContainerBottom {
  padding-bottom: 2rem;
}

.topContent {
  display: flex;
  justify-content: left;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 2rem 3rem 2rem;
}

.topContentImageConatiner {
  margin: 0rem 0.5rem 0rem 2rem;
}

.topContentImage {
  height: 2.8rem;
}

.topContentTitle {
  font-size: 1rem;
  margin-bottom: 0.7rem;
}

.topContentConter {
  font-size: 0.6rem;
}

.midUpperContainer {
  padding: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #000;
}

.midBody {
  background-color: #d1d3d7;
}

.midContainers {
  background-color: #d1d3d7;
  padding: 1rem;
}

.midcontainers:first-of-type {
  padding-top: 3rem;
}

.midContainers:last-of-type {
  padding-bottom: 2rem;
}

.midInsideContainers {
  text-align: center;
  margin-bottom: 1rem;
  padding: 3rem 0rem 1rem 0rem;
}

.midInsideImg {
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 50%;
}

.image {
  height: 4rem;
}

.midInsideTitle {
  font-size: 2rem;
  padding: 2rem;
  color: #446579;
}

.midInsideContent {
  padding: 0rem 2rem 2rem 2rem;
  color: #000;
}

.midMiddleContainer {
  height: 997px;
  background-color: #000000;
}

.lowerConatiner {
  text-align: center;
  padding-bottom: 3rem;
}

.lowerInsideContainer {
}

.bottomContainer {
  height: 204px;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.lowerContainerContent {
  color: #000;
  font-size: 2rem;
  padding-top: 5rem;
}

.bottomInside {
  display: flex;
  justify-content: space-between;
  padding: 0rem 15rem 0rem;
  margin-top: 2.2rem;
}

.bottomInsideMiddle {
  display: flex;
  justify-content: space-between;
  padding: 0rem 20rem 0rem;
  margin-top: 2.2rem;
}

.bottomInsideBottom {
  display: flex;
  justify-content: center;
  margin-top: 2.2rem;
}

.topContainer2 {
  height: 315px;
}

.midSmallContainers {
  height: 40px;
}

.midLowerConatiner2 {
  padding: 25px 25px 25px 25px;
}

.midLowerInsideContainer2 {
  height: 375px;
}

.bottomLargeContainer {
  margin: 45px 25px 40px 25px;
}

.bottomLargeTop {
  height: 275;
  margin-bottom: 45px;
}

.bottomSmallContainer {
  height: 25px;
  margin-top: 35px;
}

/* .bottomSmallContainer:first-of-type {
  margin-top: 400px;
} */

.bottomMid {
  height: 75px;
  margin-top: 35px;
}

.bottomConatiner2 {
  padding: 15px 15px 15px 15px;
  margin-bottom: 25px;
}

.bottomInsideContainer2 {
  height: 45px;
}
