body {
  margin: 0;
  color: #e0d4d5;
  font-weight: bold;
}

a {
  color: #e0d4d5;
  text-decoration: none;
}

.colorBlue {
  background-color: #1e8cbe;
}

.colorMaroon {
  background-color: #560003;
}

.colorDarkBlue {
  background-color: #0070a4;
}

.colorGray {
  background-color: #909dab;
}

.colorDarkGray {
  background-color: #7f8c8d;
}

.colorBlack {
  background-color: #111111;
}

.colorWhite {
  background-color: #ffffff;
}

.colorLightBlue {
  background-color: #e8f0f5;
}

.topHeader {
  height: 20px;
  padding: 15px 0px 15px 30px;
  margin: 0px;
}

.topHeaderLogoConatiner {
  display: flex;
  flex-direction: row;
}

.loginContainer {
}

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topContainerTop {
  font-size: 3rem;
  margin: 20rem 0rem 3rem 0rem;
}

.topContainerMiddle {
  font-size: 1rem;
}

.websiteButton {
  border: 0.1rem solid red;
  padding: 1rem 10rem;
  margin-top: 2rem;
}

.topContainerArrow {
  background-color: white;
  padding: 1rem;
  margin: 15rem 0rem 10rem 0rem;
}

.topContainerBottom {
  margin-bottom: 3rem;
}

.topContent {
  margin: 1rem 0rem 1rem 0rem;
  padding: 1rem 5rem 1rem 5rem;
  background-color: white;
}

.midUpperContainer {
  padding: 10rem;
}

.midContainers {
  background-color: #d1d3d7;
  border-bottom: 3px solid #e0d4d5;
  padding: 1rem;
}

.midInsideContainers {
  height: 225px;
  margin: 64px 10px 32px 10px;
}

.midMiddleContainer {
  height: 997px;
  background-color: #000000;
}

.LowerConatiner {
  display: flex;
  justify-content: center;
  padding: 140px 32px 70px 32px;
}

.LowerInsideContainer {
  height: 412px;
}

.bottomContainer {
  height: 204px;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.bottomInside {
  display: flex;
  justify-content: space-between;
  padding: 0rem 15rem 0rem;
  margin-top: 2.2rem;
}

.bottomInsideMiddle {
  display: flex;
  justify-content: space-between;
  padding: 0rem 20rem 0rem;
  margin-top: 2.2rem;
}

.bottomInsideBottom {
  display: flex;
  justify-content: center;
  margin-top: 2.2rem;
}

.topContainer2 {
  height: 315px;
}

.midSmallContainers {
  height: 40px;
}

.midLowerConatiner2 {
  padding: 25px 25px 25px 25px;
}

.midLowerInsideContainer2 {
  height: 375px;
}

.bottomLargeContainer {
  margin: 45px 25px 40px 25px;
}

.bottomLargeTop {
  height: 275;
  margin-bottom: 45px;
}

.bottomSmallContainer {
  height: 25px;
  margin-top: 35px;
}

/* .bottomSmallContainer:first-of-type {
  margin-top: 400px;
} */

.bottomMid {
  height: 75px;
  margin-top: 35px;
}

.bottomConatiner2 {
  padding: 15px 15px 15px 15px;
  margin-bottom: 25px;
}

.bottomInsideContainer2 {
  height: 45px;
}
